body {
  font-family: "Patrick Hand";
  background-color: #9fb3c7;
  background-image: url('./assets/notebook.png');
  margin: 0px;
}

rainbow {
  color: rgba(0, 0, 0, 0.459);
  background: linear-gradient(to right,
          red, orange, yellow, green, blue, indigo, violet, indigo, blue, green, yellow, orange, red);
  background-size: 500%;
  animation: rainbow-flow infinite linear 36s;
  -webkit-background-clip: text;
  background-clip: text;
}

blink {
  animation: blink_keys 1s step-start infinite;
}

@keyframes rainbow-flow {
  0% {
      background-position: 50% 0%;
  }

  100% {
      background-position: -200%;
  }
}

@font-face { 
  font-family: "Patrick Hand"; 
  src: url('assets/PatrickHand-Regular.ttf'); 
}

.link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

#content {
  max-width: 720px;
  width: 100%;
  margin: 4px auto;
}

#post-textarea {
  width: 100%;
}

textarea {
  width: 99.2%;
  font-family: "Patrick Hand";
  resize: vertical;
}

button {
  font-family: "Patrick Hand";
}

/* Post CSS */
.post-displayname a {
  color:steelblue;
}

.reply-displayname a {
  color:rgb(51, 87, 116);
}

.post-attachments img {
  max-width: 400px;
}

.post-username {
  color:grey;
  font-style: italic;
  font-size: small;
}

.post {
  max-width: 720px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
  box-shadow: 1px 2px 4px grey;
}

.post-replies {
  color: grey;
  background-color:rgba(142, 158, 170, 0.187)
}

.post-profilepicture img {
  max-width: 50px;
  margin-right: 4px;
}

.post-timestamp {
  color: grey;
}


/* Navbar */
#nav-banner {
  background: repeat-x url('./assets/TornPaper.png');
  height: 90px;
  margin: 0px;
  padding: 10px 19%;
}

#nav-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

#nav-buttons img {
  filter: brightness(1);
  transition: filter 0.5s ease;
}

#nav-buttons img:hover {
  filter: brightness(1.25);
}

@media only screen and (max-width: 768px) {
    #nav-banner {
        padding: 30px 10px;
    }
}

@media only screen and (min-width: 557px) {
  #trails {
    display: block;
  }
}

@media only screen and (max-width: 556px) {
  #trails {
    display: none;
  }
}