.post-username {
  font-weight: bold;
}

.post {
  background: linear-gradient(to bottom, white 75%, grey 100%);
  border-radius: 4px;
  padding: 5px;
  min-height: 35px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #B8CAC5;
  background-image: url('./assets/asfalt-light.png');
}